.rock_background {
  background-color: #ffedab;
}

.water_background {
  background-color: #abf0ff;
}

.water_background {
  background-color: #fdffad;
}

.grass_background {
  background-color: #b3ffad;
}

.poison_background {
  background-color: #e5adff;
}

.psychic_background {
  background-color: #ffadde;
}

.fire_background {
  background-color: #ffd5ad;
}

.ice_background {
  background-color: #adfaff;
}

.fighting_background {
  background-color: #ffadad;
}

.ghost_background {
  background-color: #ffadf1;
}

.dragon_background {
  background-color: #d1adff;
}

.bug_background {
  background-color: #e5ffad;
}

.normal_background {
  background-color: #fff7ad;
}

.ground_background {
  background-color: #feffad;
}

.fairy_background {
  background-color: #f4adff;
}
